{% extends 'entrance/layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="musicpage-img">
                <img src="{% static 'entrance/img/nature.png'%}" alt="nature">
            </div>
        </div>

        <div class="col-md-6">
            <center>
                <div class="musicpage-name">
                    <h3>Звуки природы</h3>
                </div>
            </center>
            <div class="music">

            </div>
        </div>
    </div>
</div>

{% endblock %}